<?php

return [
    'token' => [
        'environment_key'    => 'ENC_KEY',
        'cookie' => [
            'name'     => 'Access-Token',
            'domain'   => '.example.com',
            'path'     => '/',
            'httponly' => true,
            'secure'   => true,
        ],
    ],
    'persist' => [
        'db' => [
            'database' => 1,
            'prefix'   => 'Auth',
            'servers'  => [
                '127.0.0.1',
            ],
        ],
    ],
    'response' => [],
];
