<?php

return [
    'response' => [
        '__class' => 'Xepto\Request\Response',    
    ],
    'cors' => [
        '__class' => 'Xepto\Auth\Token\CORS',    
        'max_age' => 3600,
        'methods' => ['GET', 'POST', 'PUT', 'PATCH', 'DELETE', 'OPTIONS'],
        'allowed' => [
            'https://example.com',
            'https://api.example.com',
        ]
    ],
    'rules' => [
        '__class' => 'Xepto\Auth\Token\Rules',    
        'limits' => [
            [ 'prefix'  => 'RLIMIT',
              'header'  => 'X-Request-Limit',
              'limit'   => 3000,
              'timeout' => 3600, ],
            [ 'prefix'  => 'FLOOD',
              'header'  => 'X-Flood-Limit',
              'limit'   => 500,
              'timeout' => 1, ]
        ],
        'allow_anon' => 'true',
    ],
    'token' => [
        '__class' => 'Xepto\Auth\Token\Token',    
        'environment_key'    => 'ENC_KEY',
        'cookie' => [
            'name'     => 'Dev-Access-Token',
            'domain'   => '.hrit.utah.edu',
            'path'     => '/',
            'httponly' => true,
            'secure'   => true,
        ],
    ],
    'persist' => [
        '__class' => 'Xepto\Auth\Token\Persist',
        'db' => 'redis',
    ],
    'redis' => [
        '__class' => '\Predis\Client',
        '__configArray' => true,
        'database' => 1,
        'prefix'   => 'Token',
        'servers'  => [
            '127.0.0.1',
            ],
    ],        
    'encryption' => [
        '__class' => 'Xepto\Auth\Token\Encryption',
        'cipher' => MCRYPT_BlOWFISH, 
        'mode'   => MCRYPT_MODE_CBC,
    ],
    
];