<?php

return [
    'router' => [
        '__class' => '\Xepto\Request\Router',
        'routes' => [],
        'regex_routes' => [
            '_^/$_' => [ 
                'ns' => 'XeptoAuthCAS\\App', 'module' => 'App', 'class' => 'Home',
                'map' => '{ns}\\{module}::{method}_{class}',
                ],
                
            '_^/(?<module>\w+)$_' => [ 
                'ns'  => 'Xepto\\Auth\\CAS', 'class' => 'Home' ,
                'map' => '{ns}\\{module}::{method}_{class}',
                ],
                
            '_^/(?<module>\w+).(?<class>\w+)$_' => [ 
                'ns'  => 'Xepto\\Auth\\CAS', 'class' => 'Home' ,
                'map' => '{ns}\\{module}::{method}_{class}',
                ],
                
            '_^/(?<module>\w+).(?<class>\w+)/(?<part>\w+)$_'  => [ 
                'ns'  => 'Xepto\\Auth\\CAS', 'class' => 'Home' ,
                'map' => '{ns}\\{module}::{method}_{class}_{part}',
                ],

            '_^/(?<module>\w+).(?<class>\w+)\((?<id>[\w+-.,]+)\)$_'  => [ 
                'ns'  => 'Xepto\\Auth\\CAS', 'class' => 'Home' ,
                'map' => '{ns}\\{module}::{method}_{class}',
                ],

            '_^/(?<module>\w+).(?<class>\w+)\((?<id>[\w-,]+)\)/(?<part>\w+)$_'  => [ 
                'ns'  => 'Xepto\\Auth\\CAS', 'class' => 'Home' ,
                'map' => '{ns}\\{module}::{method}_{class}_{part}',
                ],
        ]
    ],
    'app' => [
        'cas' => [
            'host'    => 'cas.example.com',
            'port'    => 443,
            'ctx'     => '/cas',
        ],
        'default' => 'https://example.com',
        'allow'   => [ 
            'https://example.com',
         ],   
         'handler' => 'https://example.com/auth.ticket',    
    ],
];